# Sales Data Analysis Using: ('sales_data.csv')
- George Garrelts and Craig Geter
- [Data Source](https://www.kaggle.com/datasets/aemyjutt/salesdata)
- [Raw Data File Download](sales_data.csv)

## Initalization/Data Cleaning: (RUN ALL 1ST)

### Initalizing Libraries and CSV Data File

In [142]:
#Libraries Imported for Analysis: Numpy, Pandas, Matplotlib and Seaborn
import numpy as np #Numerical Pyhton tool (Arrays,Mathmatical funcions to arrays, etc)
import pandas as pd #Data Manipulation tool (Loading CSV File,Filtering rows, Calculating Summary Statistics)
import matplotlib.pyplot as plt #Data Visualization tool (Visualize Trends)
import seaborn as sns # Data Visualization tool ( Distribution plots scatterplots with regression lines and confidence intervals)

In [143]:
#Loads the CSV data file using Pandas into Dataframe (Variable df)

df = pd.read_csv('sales_data.csv')

### Reformatting Column Names

In [144]:
#Renaming Column Names to make neater and all lowercase with no spaces(_)

df.rename(columns={'catégorie': 'category'}, inplace=True) # renames Column from catégorie to Category
df.rename(columns={'Product_ean': 'product id'}, inplace=True) # Renames Product_ean (European Article Number) to Product ID for easier Comprehension
df.rename(columns={'turnover': 'revenue'}, inplace=True) # Renames the "turnover" column to "Revenue" for easier comprehension
df.rename(columns={'margin': 'profit margin'}, inplace=True) # Renames the "Margin" column to "Profit Margin"
df.columns = df.columns.str.lower().str.replace(' ', '_') # Replaces all spaces with undescores and makes all columns lowercase

In [145]:
# Changing Category to English 
# Category Column Has Words in different languages
unique_categories = df['category'].unique() # Finds all values in category and to see which need to be translated and assigns to unique_categories variable
print(unique_categories) #Prints unique categories

category_translate = {          # a dictionary that defines the categories that need to be translated 
    'Vêtements': 'Clothing',
    'Alimentation': 'Food',
    'Électronique': 'Electronics',
    'Sports':'Sports'
}

df['category_english'] = df['category'].map(category_translate) # translates the categories in 'category' and puts them in 'category_english'

['Vêtements' 'Alimentation' 'Sports' 'Électronique']

### Fixing Data Types

In [146]:
#Fixing Order Date Data Types
df['order_date'] = pd.to_datetime(df['order_date']) #converts order_date datatype to datetime64

In [147]:
# Fixing Product ID Data Type

df['product_id'] = df['product_id'].astype('int64') # Converts Product_Id to Integer64

### Checking for Null Values

In [ ]:
#Data Cleaning : Checking For Null Values

missing_values = df.isnull().sum() # Searches for any missing (null) values
print(missing_values)

### Split Address into Different Columns

In [149]:
# Splits the purchase_address column into different columns such as 'street' 'city' 'state' 'zipcode' and more 

# Split the "Purchase Address" column
df[['street', 'city', 'state_zipCode']] = df['purchase_address'].str.split(', ', expand=True) #Splits 'street' 'city' and 'state_zipcode' into seperate columns
df[['state', 'zipcode']] = df['state_zipCode'].str.split(' ' , expand=True) #splits "state" and 'zipcode' into seperate columns

### Check For and Remove Duplicate rows

In [161]:
# Checking for duplicates rows
duplicates = df[df.duplicated()]

#if statements that prints duplicates and drops them if any but returns "No Duplicate Rows" if theres none
if duplicates.any().any(): #if statements that prints duplicates and drops them if any but returns "No Duplicate Rows" if theres none
    print(duplicates)
    df = df.drop_duplicates()
else:
    print("No Duplicate Rows")

No Duplicate Rows

C:\Users\tlg48\AppData\Local\Temp\ipykernel_16264\3652383966.py:5: FutureWarning: 'any' with datetime64 dtypes is deprecated and will raise in a future version. Use (obj != pd.Timestamp(0)).any() instead.
  if duplicates.any().any(): #if statements that prints duplicates and drops them if any but returns "No Duplicate Rows" if theres none

###  Final Verification and Test Of Clean Data

In [160]:
# Verification to see if all data columns,types and other cleaning methods above are correct

#Displays Column  information & Datatypes
df.info() 

#Displays first 10 rows from data
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_date        185950 non-null  datetime64[ns]
 1   order_id          185950 non-null  int64
 2   product           185950 non-null  object
 3   product_id        185950 non-null  int64
 4   category          185950 non-null  object
 5   purchase_address  185950 non-null  object
 6   quantity_ordered  185950 non-null  int64
 7   price_each        185950 non-null  float64
 8   cost_price        185950 non-null  float64
 9   revenue           185950 non-null  float64
 10  profit_margin     185950 non-null  float64
 11  category_english  185950 non-null  object
 12  street            185950 non-null  object
 13  city              185950 non-null  object
 14  state_zipCode     185950 non-null  object
 15  state             185950 non-null  object
 16  zipcode           185950 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 24.1+ MB

,order_date,order_id,product,product_id,category,purchase_address,quantity_ordered,price_each,cost_price,revenue,profit_margin,category_english,street,city,state_zipCode,state,zipcode
0,2019-01-22 21:25:00,141234,iPhone,5638008983335,Vêtements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000,Clothing,944 Walnut St,Boston,MA 02215,MA,02215
1,2019-01-28 14:15:00,141235,Lightning Charging Cable,5563319511488,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750,Food,185 Maple St,Portland,OR 97035,OR,97035
2,2019-01-17 13:33:00,141236,Wired Headphones,2113973395220,Vêtements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900,Clothing,538 Adams St,San Francisco,CA 94016,CA,94016
3,2019-01-05 20:33:00,141237,27in FHD Monitor,3069156759167,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965,Sports,738 10th St,Los Angeles,CA 90001,CA,90001
4,2019-01-25 11:59:00,141238,Wired Headphones,9692680938163,Électronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950,Electronics,387 10th St,Austin,TX 73301,TX,73301
5,2019-01-29 20:22:00,141239,AAA Batteries (4-pack),2953868554188,Alimentation,"775 Willow St, San Francisco, CA 94016",1,2.99,1.4950,2.99,1.4950,Food,775 Willow St,San Francisco,CA 94016,CA,94016
6,2019-01-26 12:16:00,141240,27in 4K Gaming Monitor,5173670800988,Vêtements,"979 Park St, Los Angeles, CA 90001",1,389.99,128.6967,389.99,261.2933,Clothing,979 Park St,Los Angeles,CA 90001,CA,90001
7,2019-01-05 12:04:00,141241,USB-C Charging Cable,8051736777568,Vêtements,"181 6th St, San Francisco, CA 94016",1,11.95,5.9750,11.95,5.9750,Clothing,181 6th St,San Francisco,CA 94016,CA,94016
8,2019-01-01 10:30:00,141242,Bose SoundSport Headphones,1508418177978,Électronique,"867 Willow St, Los Angeles, CA 90001",1,99.99,49.9950,99.99,49.9950,Electronics,867 Willow St,Los Angeles,CA 90001,CA,90001
9,2019-01-22 21:20:00,141243,Apple Airpods Headphones,1386344211590,Électronique,"657 Johnson St, San Francisco, CA 94016",1,150.00,97.5000,150.00,52.5000,Electronics,657 Johnson St,San Francisco,CA 94016,CA,94016

## Data Analysis

In [152]:

df.head(20) # See the first "20" of rows of the dataframe

,order_date,order_id,product,product_id,category,purchase_address,quantity_ordered,price_each,cost_price,revenue,profit_margin,category_english,street,city,state_zipCode,state,zipcode
0,2019-01-22 21:25:00,141234,iPhone,5638008983335,Vêtements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000,Clothing,944 Walnut St,Boston,MA 02215,MA,02215
1,2019-01-28 14:15:00,141235,Lightning Charging Cable,5563319511488,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750,Food,185 Maple St,Portland,OR 97035,OR,97035
2,2019-01-17 13:33:00,141236,Wired Headphones,2113973395220,Vêtements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900,Clothing,538 Adams St,San Francisco,CA 94016,CA,94016
3,2019-01-05 20:33:00,141237,27in FHD Monitor,3069156759167,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965,Sports,738 10th St,Los Angeles,CA 90001,CA,90001
4,2019-01-25 11:59:00,141238,Wired Headphones,9692680938163,Électronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950,Electronics,387 10th St,Austin,TX 73301,TX,73301
5,2019-01-29 20:22:00,141239,AAA Batteries (4-pack),2953868554188,Alimentation,"775 Willow St, San Francisco, CA 94016",1,2.99,1.4950,2.99,1.4950,Food,775 Willow St,San Francisco,CA 94016,CA,94016
6,2019-01-26 12:16:00,141240,27in 4K Gaming Monitor,5173670800988,Vêtements,"979 Park St, Los Angeles, CA 90001",1,389.99,128.6967,389.99,261.2933,Clothing,979 Park St,Los Angeles,CA 90001,CA,90001
7,2019-01-05 12:04:00,141241,USB-C Charging Cable,8051736777568,Vêtements,"181 6th St, San Francisco, CA 94016",1,11.95,5.9750,11.95,5.9750,Clothing,181 6th St,San Francisco,CA 94016,CA,94016
8,2019-01-01 10:30:00,141242,Bose SoundSport Headphones,1508418177978,Électronique,"867 Willow St, Los Angeles, CA 90001",1,99.99,49.9950,99.99,49.9950,Electronics,867 Willow St,Los Angeles,CA 90001,CA,90001
9,2019-01-22 21:20:00,141243,Apple Airpods Headphones,1386344211590,Électronique,"657 Johnson St, San Francisco, CA 94016",1,150.00,97.5000,150.00,52.5000,Electronics,657 Johnson St,San Francisco,CA 94016,CA,94016
10,2019-01-07 11:29:00,141244,Apple Airpods Headphones,4332898830865,Vêtements,"492 Walnut St, San Francisco, CA 94016",1,150.00,97.5000,150.00,52.5000,Clothing,492 Walnut St,San Francisco,CA 94016,CA,94016
11,2019-01-31 10:12:00,141245,Macbook Pro Laptop,1169379570345,Vêtements,"322 6th St, San Francisco, CA 94016",1,1700.00,561.0000,1700.00,1139.0000,Clothing,322 6th St,San Francisco,CA 94016,CA,94016
12,2019-01-09 18:57:00,141246,AAA Batteries (4-pack),4436184749366,Vêtements,"618 7th St, Los Angeles, CA 90001",3,2.99,1.4950,8.97,4.4850,Clothing,618 7th St,Los Angeles,CA 90001,CA,90001
13,2019-01-25 19:19:00,141247,27in FHD Monitor,7313825995563,Vêtements,"512 Wilson St, San Francisco, CA 94016",1,149.99,97.4935,149.99,52.4965,Clothing,512 Wilson St,San Francisco,CA 94016,CA,94016
14,2019-01-03 21:54:00,141248,Flatscreen TV,4062756463060,Électronique,"363 Spruce St, Austin, TX 73301",1,300.00,99.0000,300.00,201.0000,Electronics,363 Spruce St,Austin,TX 73301,TX,73301
15,2019-01-05 17:20:00,141249,27in FHD Monitor,9643428300795,Alimentation,"440 Cedar St, Portland, OR 97035",1,149.99,97.4935,149.99,52.4965,Food,440 Cedar St,Portland,OR 97035,OR,97035
16,2019-01-10 11:20:00,141250,Vareebadd Phone,6721780072847,Alimentation,"471 Center St, Los Angeles, CA 90001",1,400.00,132.0000,400.00,268.0000,Food,471 Center St,Los Angeles,CA 90001,CA,90001
17,2019-01-24 08:13:00,141251,Apple Airpods Headphones,2700099961823,Alimentation,"414 Walnut St, Boston, MA 02215",1,150.00,97.5000,150.00,52.5000,Food,414 Walnut St,Boston,MA 02215,MA,02215
18,2019-01-30 09:28:00,141252,USB-C Charging Cable,3692435232121,Sports,"220 9th St, Los Angeles, CA 90001",1,11.95,5.9750,11.95,5.9750,Sports,220 9th St,Los Angeles,CA 90001,CA,90001
19,2019-01-17 00:09:00,141253,AA Batteries (4-pack),6741495725758,Alimentation,"385 11th St, Atlanta, GA 30301",1,3.84,1.9200,3.84,1.9200,Food,385 11th St,Atlanta,GA 30301,GA,30301

In [153]:
df.describe () # To get a statistical Summary of the dataframe

,order_date,order_id,product_id,quantity_ordered,price_each,cost_price,revenue,profit_margin
count,185950,185950.000000,1.859500e+05,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000
mean,2019-07-18 21:54:38.887550208,230417.569379,5.509211e+12,1.124383,184.399735,69.668583,185.490917,115.289422
min,2019-01-01 03:07:00,141234.000000,1.000083e+12,1.000000,2.990000,1.495000,2.990000,1.495000
25%,2019-04-16 21:05:15,185831.250000,3.254280e+12,1.000000,11.950000,5.975000,11.950000,5.975000
50%,2019-07-17 20:40:30,230367.500000,5.511235e+12,1.000000,14.950000,7.475000,14.950000,7.475000
75%,2019-10-26 08:14:00,275035.750000,7.765195e+12,1.000000,150.000000,97.500000,150.000000,52.500000
max,2020-01-01 05:13:00,319670.000000,9.999983e+12,9.000000,1700.000000,561.000000,3400.000000,2278.000000
std,NaN,51512.737110,2.598403e+12,0.442793,332.731330,109.424191,332.919771,225.227190