# Sales Data Analysis Using: ('sales_data.csv')
- George Garrelts and Craig Geter
- [Data Source](https://www.kaggle.com/datasets/aemyjutt/salesdata)
- [Raw Data File Download](sales_data.csv)

## Initalization/Data Cleaning: (RUN ALL 1ST)

### Initalizing Libraries and CSV Data File

In [211]:
#Libraries Imported for Analysis: Numpy, Pandas, Matplotlib and Seaborn
import numpy as np #Numerical Pyhton tool (Arrays,Mathmatical funcions to arrays, etc)
import pandas as pd #Data Manipulation tool (Loading CSV File,Filtering rows, Calculating Summary Statistics)
import matplotlib.pyplot as plt #Basic Data Visualization tool (Visualize Trends)
import seaborn as sns # Data Visualization tool ( Distribution plots scatterplots with regression lines and confidence intervals)
from IPython.display import display # Ipython Display to Render Nicer Tables

In [212]:
#Loads the CSV data file using Pandas into Dataframe (Variable df)

df = pd.read_csv('sales_data.csv')

### Reformatting Column Names

In [213]:
#Renaming Column Names to make neater and all lowercase with no spaces(_)


# renames Column from catégorie to Category
df.rename(columns={'catégorie': 'category'}, inplace=True) # renames Column from catégorie to Category

# Renames Product_ean (European Article Number) to Product ID for easier Comprehension
df.rename(columns={'Product_ean': 'product id'}, inplace=True) 

# Renames the "turnover" column to "Revenue" for easier comprehension
df.rename(columns={'turnover': 'revenue'}, inplace=True) 

 # Renames the "Margin" column to "Profit Margin"
df.rename(columns={'margin': 'profit margin'}, inplace=True)

# Replaces all spaces with undescores and makes all columns lowercase
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [214]:
# Changing Category to English 
# Category Column Has Words in different languages
unique_categories = df['category'].unique() # Finds all values in category and to see which need to be translated and assigns to unique_categories variable
print(unique_categories) #Prints unique categories

# Using the unique_categories heres a dictionary that defines the categories that need to be translated 
category_translate = {         
    'Vêtements': 'Clothing',
    'Alimentation': 'Food',
    'Électronique': 'Electronics',
    'Sports':'Sports'
}

# translates the categories in 'category' and puts them in 'category_english'
df['category_english'] = df['category'].map(category_translate)

['Vêtements' 'Alimentation' 'Sports' 'Électronique']

### Fixing Data Types

In [215]:
#Fixing Order Date Data Types
#converts order_date datatype to datetime64
df['order_date'] = pd.to_datetime(df['order_date'])

In [216]:
# Fixing Product ID Data Type
# Converts Product_Id to Integer64
df['product_id'] = df['product_id'].astype('int64')

### Checking for Null Values

In [217]:
#Data Cleaning : Checking For Null Values
# Searches for any missing (null) values
missing_values = df.isnull().sum() 
print(missing_values)

order_date          0
order_id            0
product             0
product_id          0
category            0
purchase_address    0
quantity_ordered    0
price_each          0
cost_price          0
revenue             0
profit_margin       0
category_english    0
dtype: int64

### Split Address into Different Columns

In [218]:
# Splits the purchase_address column into different columns such as 'street' 'city' 'state' 'zipcode' and more 

# Split the "Purchase Address" column into smaller columns

 #Splits 'street' 'city' and 'state_zipcode' into seperate columns
df[['street', 'city', 'state_zipCode']] = df['purchase_address'].str.split(', ', expand=True)


#splits 'state_zipCode' into "state" and 'zipcode'columns
df[['state', 'zipcode']] = df['state_zipCode'].str.split(' ' , expand=True) #splits "state" and 'zipcode' into seperate columns

### Check For and Remove Duplicate rows

In [219]:
# Checking for duplicates rows
duplicates = df[df.duplicated()]

#if statements that prints duplicates and drops them if any but returns "No Duplicate Rows" if theres none
if duplicates.any().any(): 
    print(duplicates)
    df = df.drop_duplicates()
else:
    print("No Duplicate Rows")

No Duplicate Rows

C:\Users\tlg48\AppData\Local\Temp\ipykernel_16264\2285362265.py:5: FutureWarning: 'any' with datetime64 dtypes is deprecated and will raise in a future version. Use (obj != pd.Timestamp(0)).any() instead.
  if duplicates.any().any():

###  Final Verification and Test Of Clean Data

In [220]:
# Verification to see if all data columns,types and other cleaning methods above are correct

#Displays Column  information & Datatypes
df.info() 

#Displays first 10 rows from data
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_date        185950 non-null  datetime64[ns]
 1   order_id          185950 non-null  int64
 2   product           185950 non-null  object
 3   product_id        185950 non-null  int64
 4   category          185950 non-null  object
 5   purchase_address  185950 non-null  object
 6   quantity_ordered  185950 non-null  int64
 7   price_each        185950 non-null  float64
 8   cost_price        185950 non-null  float64
 9   revenue           185950 non-null  float64
 10  profit_margin     185950 non-null  float64
 11  category_english  185950 non-null  object
 12  street            185950 non-null  object
 13  city              185950 non-null  object
 14  state_zipCode     185950 non-null  object
 15  state             185950 non-null  object
 16  zipcode           185950 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 24.1+ MB

,order_date,order_id,product,product_id,category,purchase_address,quantity_ordered,price_each,cost_price,revenue,profit_margin,category_english,street,city,state_zipCode,state,zipcode
0,2019-01-22 21:25:00,141234,iPhone,5638008983335,Vêtements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000,Clothing,944 Walnut St,Boston,MA 02215,MA,02215
1,2019-01-28 14:15:00,141235,Lightning Charging Cable,5563319511488,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750,Food,185 Maple St,Portland,OR 97035,OR,97035
2,2019-01-17 13:33:00,141236,Wired Headphones,2113973395220,Vêtements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900,Clothing,538 Adams St,San Francisco,CA 94016,CA,94016
3,2019-01-05 20:33:00,141237,27in FHD Monitor,3069156759167,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965,Sports,738 10th St,Los Angeles,CA 90001,CA,90001
4,2019-01-25 11:59:00,141238,Wired Headphones,9692680938163,Électronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950,Electronics,387 10th St,Austin,TX 73301,TX,73301
5,2019-01-29 20:22:00,141239,AAA Batteries (4-pack),2953868554188,Alimentation,"775 Willow St, San Francisco, CA 94016",1,2.99,1.4950,2.99,1.4950,Food,775 Willow St,San Francisco,CA 94016,CA,94016
6,2019-01-26 12:16:00,141240,27in 4K Gaming Monitor,5173670800988,Vêtements,"979 Park St, Los Angeles, CA 90001",1,389.99,128.6967,389.99,261.2933,Clothing,979 Park St,Los Angeles,CA 90001,CA,90001
7,2019-01-05 12:04:00,141241,USB-C Charging Cable,8051736777568,Vêtements,"181 6th St, San Francisco, CA 94016",1,11.95,5.9750,11.95,5.9750,Clothing,181 6th St,San Francisco,CA 94016,CA,94016
8,2019-01-01 10:30:00,141242,Bose SoundSport Headphones,1508418177978,Électronique,"867 Willow St, Los Angeles, CA 90001",1,99.99,49.9950,99.99,49.9950,Electronics,867 Willow St,Los Angeles,CA 90001,CA,90001
9,2019-01-22 21:20:00,141243,Apple Airpods Headphones,1386344211590,Électronique,"657 Johnson St, San Francisco, CA 94016",1,150.00,97.5000,150.00,52.5000,Electronics,657 Johnson St,San Francisco,CA 94016,CA,94016

## Data Analysis

### Data Consillidation (Does the Data Add Up?)

In [221]:
# Defined a tolerance for floating point comparisons for more precise comparisons
tolerance = 1e-5

#Calculates Expected Revenue for Each Row
expected_revenue = df['quantity_ordered'] * df['price_each']

#Calculates the Expected Profit Margin for each row
expected_profit_margin = expected_revenue - df['cost_price']

# Validate using Boolean Variables to see if the calculations match the data 
# Also inserted absolute value the difference to ensure it matches within the tolerance for more precise results
revenue_check = abs(expected_revenue - df['revenue']) <= tolerance
profit_margin_check = abs(expected_profit_margin -df['profit_margin']) <= tolerance

checks = revenue_check & profit_margin_check

invalid_rows = df[~checks]

#Counts the number of invalid rows and Total Rows
num_invalid_rows = len(invalid_rows)
total_rows = len(df)

#Prints number of invalid rows out of total rows
print("You have:", num_invalid_rows, "Invalid Rows of data out of", total_rows, "rows")

# Displays a rendered table of all the invalid rows found
display(invalid_rows)

""" After Initally running the code the first time through (written above)
    It was found that 24,862 rows are Invalid information or incorrect
    because of incorrect calculations in the revenue or profit margin
  
    EDIT: I discovered that the code actually has errors due to something called "Floating Point Rounding Error
    Which means the computer couldnt reperesent the floating point numbers due to limitations in memory or hardware
    (Which makes sense because I am performing this mass analysis on a Laptop)
    To Solve this I will incorperate a "Tolerence" or margin of error to consider the values as equal if it falls within
     the defined tolerence for more precise answers.

    EDIT 2: After Adding the Tolerence (1e-6) it helped lower the number of Invalid Rows to 17,398 which is a difference of
    approximitely 7,464 Rows!!

    EDIT 3: When I increase the tolerence slightly more to 1e-5: It does not change
    and still shows that I have 17,398 Invalid rows of data due to false calculations
    in Profit Margin or Revenue.... Either That or Floating Point error especially with
    a Large Quantity of Data such as this data set and the current technology I am using.
    

    

"""

You have: 17398 Invalid Rows of data out of 185950 rows

,order_date,order_id,product,product_id,category,purchase_address,quantity_ordered,price_each,cost_price,revenue,profit_margin,category_english,street,city,state_zipCode,state,zipcode
2,2019-01-17 13:33:00,141236,Wired Headphones,2113973395220,Vêtements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.995,23.98,11.990,Clothing,538 Adams St,San Francisco,CA 94016,CA,94016
12,2019-01-09 18:57:00,141246,AAA Batteries (4-pack),4436184749366,Vêtements,"618 7th St, Los Angeles, CA 90001",3,2.99,1.495,8.97,4.485,Clothing,618 7th St,Los Angeles,CA 90001,CA,90001
25,2019-01-20 17:26:00,141259,AAA Batteries (4-pack),8114620073761,Alimentation,"920 Adams St, San Francisco, CA 94016",2,2.99,1.495,5.98,2.990,Food,920 Adams St,San Francisco,CA 94016,CA,94016
39,2019-01-29 12:04:00,141273,Wired Headphones,2009029820937,Sports,"994 13th St, Boston, MA 02215",2,11.99,5.995,23.98,11.990,Sports,994 13th St,Boston,MA 02215,MA,02215
52,2019-01-14 14:13:00,141285,AAA Batteries (4-pack),2484326257641,Alimentation,"447 Cedar St, Seattle, WA 98101",3,2.99,1.495,8.97,4.485,Food,447 Cedar St,Seattle,WA 98101,WA,98101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185902,2019-12-30 12:15:00,319624,AA Batteries (4-pack),4989339720831,Vêtements,"837 Jefferson St, Atlanta, GA 30301",2,3.84,1.920,7.68,3.840,Clothing,837 Jefferson St,Atlanta,GA 30301,GA,30301
185922,2019-12-25 12:38:00,319643,AA Batteries (4-pack),9055113908602,Alimentation,"811 Hill St, San Francisco, CA 94016",2,3.84,1.920,7.68,3.840,Food,811 Hill St,San Francisco,CA 94016,CA,94016
185926,2019-12-28 17:43:00,319647,AA Batteries (4-pack),3229104373683,Sports,"119 Spruce St, San Francisco, CA 94016",2,3.84,1.920,7.68,3.840,Sports,119 Spruce St,San Francisco,CA 94016,CA,94016
185937,2019-12-24 20:46:00,319658,AAA Batteries (4-pack),4318879156980,Sports,"574 Dogwood St, San Francisco, CA 94016",2,2.99,1.495,5.98,2.990,Sports,574 Dogwood St,San Francisco,CA 94016,CA,94016
185946,2019-12-01 12:01:00,319667,AA Batteries (4-pack),5352480282430,Électronique,"549 Willow St, Los Angeles, CA 90001",2,3.84,1.920,7.68,3.840,Electronics,549 Willow St,Los Angeles,CA 90001,CA,90001

' After Initally running the code the first time through (written above)\n    It was found that 24,862 rows are Invalid information or incorrect\n    because of incorrect calculations in the revenue or profit margin\n  \n    EDIT: I discovered that the code actually has errors due to something called "Floating Point Rounding Error\n    Which means the computer couldnt reperesent the floating point numbers due to limitations in memory or hardware\n    (Which makes sense because I am performing this mass analysis on a Laptop)\n    To Solve this I will incorperate a "Tolerence" or margin of error to consider the values as equal if it falls within\n     the defined tolerence for more precise answers.\n\n    EDIT 2: After Adding the Tolerence (1e-6) it helped lower the number of Invalid Rows to 17,398 which is a difference of\n    approximitely 7,464 Rows!!\n\n    EDIT 3: When I increase the tolerence slightly more to 1e-5: It does not change\n    and still shows that I have 17,398 Invalid rows of data due to false calculations\n    in Profit Margin or Revenue.... Either That or Floating Point error especially with\n    a Large Quantity of Data such as this data set and the current technology I am using.\n    \n\n    \n\n'

### DataFrame Head

In [222]:
# See the first "20" of rows of the dataframe
df.head(20)

,order_date,order_id,product,product_id,category,purchase_address,quantity_ordered,price_each,cost_price,revenue,profit_margin,category_english,street,city,state_zipCode,state,zipcode
0,2019-01-22 21:25:00,141234,iPhone,5638008983335,Vêtements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000,Clothing,944 Walnut St,Boston,MA 02215,MA,02215
1,2019-01-28 14:15:00,141235,Lightning Charging Cable,5563319511488,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750,Food,185 Maple St,Portland,OR 97035,OR,97035
2,2019-01-17 13:33:00,141236,Wired Headphones,2113973395220,Vêtements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900,Clothing,538 Adams St,San Francisco,CA 94016,CA,94016
3,2019-01-05 20:33:00,141237,27in FHD Monitor,3069156759167,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965,Sports,738 10th St,Los Angeles,CA 90001,CA,90001
4,2019-01-25 11:59:00,141238,Wired Headphones,9692680938163,Électronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950,Electronics,387 10th St,Austin,TX 73301,TX,73301
5,2019-01-29 20:22:00,141239,AAA Batteries (4-pack),2953868554188,Alimentation,"775 Willow St, San Francisco, CA 94016",1,2.99,1.4950,2.99,1.4950,Food,775 Willow St,San Francisco,CA 94016,CA,94016
6,2019-01-26 12:16:00,141240,27in 4K Gaming Monitor,5173670800988,Vêtements,"979 Park St, Los Angeles, CA 90001",1,389.99,128.6967,389.99,261.2933,Clothing,979 Park St,Los Angeles,CA 90001,CA,90001
7,2019-01-05 12:04:00,141241,USB-C Charging Cable,8051736777568,Vêtements,"181 6th St, San Francisco, CA 94016",1,11.95,5.9750,11.95,5.9750,Clothing,181 6th St,San Francisco,CA 94016,CA,94016
8,2019-01-01 10:30:00,141242,Bose SoundSport Headphones,1508418177978,Électronique,"867 Willow St, Los Angeles, CA 90001",1,99.99,49.9950,99.99,49.9950,Electronics,867 Willow St,Los Angeles,CA 90001,CA,90001
9,2019-01-22 21:20:00,141243,Apple Airpods Headphones,1386344211590,Électronique,"657 Johnson St, San Francisco, CA 94016",1,150.00,97.5000,150.00,52.5000,Electronics,657 Johnson St,San Francisco,CA 94016,CA,94016
10,2019-01-07 11:29:00,141244,Apple Airpods Headphones,4332898830865,Vêtements,"492 Walnut St, San Francisco, CA 94016",1,150.00,97.5000,150.00,52.5000,Clothing,492 Walnut St,San Francisco,CA 94016,CA,94016
11,2019-01-31 10:12:00,141245,Macbook Pro Laptop,1169379570345,Vêtements,"322 6th St, San Francisco, CA 94016",1,1700.00,561.0000,1700.00,1139.0000,Clothing,322 6th St,San Francisco,CA 94016,CA,94016
12,2019-01-09 18:57:00,141246,AAA Batteries (4-pack),4436184749366,Vêtements,"618 7th St, Los Angeles, CA 90001",3,2.99,1.4950,8.97,4.4850,Clothing,618 7th St,Los Angeles,CA 90001,CA,90001
13,2019-01-25 19:19:00,141247,27in FHD Monitor,7313825995563,Vêtements,"512 Wilson St, San Francisco, CA 94016",1,149.99,97.4935,149.99,52.4965,Clothing,512 Wilson St,San Francisco,CA 94016,CA,94016
14,2019-01-03 21:54:00,141248,Flatscreen TV,4062756463060,Électronique,"363 Spruce St, Austin, TX 73301",1,300.00,99.0000,300.00,201.0000,Electronics,363 Spruce St,Austin,TX 73301,TX,73301
15,2019-01-05 17:20:00,141249,27in FHD Monitor,9643428300795,Alimentation,"440 Cedar St, Portland, OR 97035",1,149.99,97.4935,149.99,52.4965,Food,440 Cedar St,Portland,OR 97035,OR,97035
16,2019-01-10 11:20:00,141250,Vareebadd Phone,6721780072847,Alimentation,"471 Center St, Los Angeles, CA 90001",1,400.00,132.0000,400.00,268.0000,Food,471 Center St,Los Angeles,CA 90001,CA,90001
17,2019-01-24 08:13:00,141251,Apple Airpods Headphones,2700099961823,Alimentation,"414 Walnut St, Boston, MA 02215",1,150.00,97.5000,150.00,52.5000,Food,414 Walnut St,Boston,MA 02215,MA,02215
18,2019-01-30 09:28:00,141252,USB-C Charging Cable,3692435232121,Sports,"220 9th St, Los Angeles, CA 90001",1,11.95,5.9750,11.95,5.9750,Sports,220 9th St,Los Angeles,CA 90001,CA,90001
19,2019-01-17 00:09:00,141253,AA Batteries (4-pack),6741495725758,Alimentation,"385 11th St, Atlanta, GA 30301",1,3.84,1.9200,3.84,1.9200,Food,385 11th St,Atlanta,GA 30301,GA,30301

### Dataframe Statistical Summary

In [223]:
# To get a statistical Summary of the dataframe
df.describe ()

,order_date,order_id,product_id,quantity_ordered,price_each,cost_price,revenue,profit_margin
count,185950,185950.000000,1.859500e+05,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000
mean,2019-07-18 21:54:38.887550208,230417.569379,5.509211e+12,1.124383,184.399735,69.668583,185.490917,115.289422
min,2019-01-01 03:07:00,141234.000000,1.000083e+12,1.000000,2.990000,1.495000,2.990000,1.495000
25%,2019-04-16 21:05:15,185831.250000,3.254280e+12,1.000000,11.950000,5.975000,11.950000,5.975000
50%,2019-07-17 20:40:30,230367.500000,5.511235e+12,1.000000,14.950000,7.475000,14.950000,7.475000
75%,2019-10-26 08:14:00,275035.750000,7.765195e+12,1.000000,150.000000,97.500000,150.000000,52.500000
max,2020-01-01 05:13:00,319670.000000,9.999983e+12,9.000000,1700.000000,561.000000,3400.000000,2278.000000
std,NaN,51512.737110,2.598403e+12,0.442793,332.731330,109.424191,332.919771,225.227190