# Sales Data Analysis Using: ('sales_data.csv')
- George Garrelts and Craig Geter
- [Data Source](https://www.kaggle.com/datasets/aemyjutt/salesdata)
- [Raw Data File Download](sales_data.csv)

## Initalization:

In [1]:
#Libraries Imported for Analysis: Numpy, Pandas, Matplotlib and Seaborn
import numpy as np #Numerical Pyhton tool (Arrays,Mathmatical funcions to arrays, etc)
import pandas as pd #Data Manipulation tool (Loading CSV File,Filtering rows, Calculating Summary Statistics)
import matplotlib.pyplot as plt #Data Visualization tool (Visualize Trends)
import seaborn as sns # Data Visualization tool ( Distribution plots scatterplots with regression lines and confidence intervals)

In [2]:
#Loads the CSV data file using Pandas into Dataframe (Variable df)

df = pd.read_csv('sales_data.csv')

## Different Panda Functions

In [8]:

df.head(100) # See the first "100" of rows of the dataframe

,Order ID,Product_ean,Quantity Ordered,Price Each,Cost price,turnover,margin
count,185950.000000,1.859500e+05,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000
mean,230417.569379,5.509211e+12,1.124383,184.399735,69.668583,185.490917,115.289422
std,51512.737110,2.598403e+12,0.442793,332.731330,109.424191,332.919771,225.227190
min,141234.000000,1.000083e+12,1.000000,2.990000,1.495000,2.990000,1.495000
25%,185831.250000,3.254280e+12,1.000000,11.950000,5.975000,11.950000,5.975000
50%,230367.500000,5.511235e+12,1.000000,14.950000,7.475000,14.950000,7.475000
75%,275035.750000,7.765195e+12,1.000000,150.000000,97.500000,150.000000,52.500000
max,319670.000000,9.999983e+12,9.000000,1700.000000,561.000000,3400.000000,2278.000000

In [ ]:
df.describe () # To get a statistical Summary of the dataframe

In [10]:
# Data Types and Null Values

df.info() # Get Information about data types and null values

"""
# Float 64 (Decimal Numbers): 5 Columns
# Int64 (Whole Numbers): 2 Columns
# Object (Mix Data Type: Numbers and Text): 4 columns
# 11 Columns total 
"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order Date        185950 non-null  object
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Product_ean       185950 non-null  float64
 4   catégorie         185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   Quantity Ordered  185950 non-null  int64
 7   Price Each        185950 non-null  float64
 8   Cost price        185950 non-null  float64
 9   turnover          185950 non-null  float64
 10  margin            185950 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 15.6+ MB

'\n# Float 64 (Decimal Numbers): 5 Columns\n# Int64 (Whole Numbers): 2 Columns\n# Object (Mix Data Type: Numbers and Text): 4 columns\n# 11 Columns total \n'

## Data Cleaning

In [4]:
#Data Cleaning :

df.isnull().sum() # Searches for any missing (null) values

Order Date          0
Order ID            0
Product             0
Product_ean         0
catégorie           0
Purchase Address    0
Quantity Ordered    0
Price Each          0
Cost price          0
turnover            0
margin              0
dtype: int64